#pressSpace 
{
	position: absolute;
    z-index: 99;
	margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 700px;
    height: 60px;
	color: white;
	font: bold 40px tahoma;
	text-align: center;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 4px 4px #000000;
	display: none;
	
	pointer-events:none;
}